<h1><%=  question_header %></h1>

<%= form_with model: @model, local: true do |form| %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p><br> 

  <p><%= form.submit %></p>
<% end %>
