<h1><%= t('.header')%></h1>

<p>
  <%= t('.question_body', body: @answer.question.body) %>
</p>

<p>
  <b><%= t('.answer') %></b>

  <%= t('.answer_body', body: @answer.body) %>
</p>

<p>
  <b><%= t('.correct') %></b>

  <%= t('.answer_correct', correct: @answer.correct) %>
</p>

<%= link_to t('helpers.link.back'), admin_question_path(@answer.question) %>
