<h1 class="text-center my-4">
  <%= t('.question_body', body: @answer.question.body) %>
</h1>

<p>
  <b><%= t('.answer') %></b>

  <%= t('.answer_body', body: @answer.body) %>
</p>

<p>
  <b><%= t('.correct') %></b>

  <%= t('.answer_correct', correct: @answer.correct) %>
</p>

<p class="text-start my-4">
  <%= link_to t('helpers.link.back'), admin_question_path(@answer.question), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
</p>
