<h1><%= test_header(@test) %></h1>

<%= form_with model: [:admin, @test], local: true do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p><br> 

  <p>
    <%= form.label :level %>
    <%= form.text_field :level %>
  </p><br> 

  <p>
    <%= form.label :category_id %>
    <%= select(:test, :category_id, Category.all.collect { |p| [ p.title, p.id ] }, { include_blank: "None" }) %>

  </p><br> 


  <p><%= form.submit %></p>
<% end %>
