<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= test.title %></h5>
      <p class="card-text">
        <strong><%= t('.category') %>:</strong> <%= test.category.title %>
      </p>
      <p class="card-text">
        <strong><%= t('.level') %>:</strong> <%= test.level %>
      </p>
      <p class="card-text">
        <strong><%= t('.author') %>:</strong> <%= test.author.first_name %>
      </p>
      <p class="card-text">
        <strong><%= t('.num_of_questions') %>:</strong> <%= test.questions.count %>
      </p>     
        <div class="d-grid gap-2 col mx-auto">
        <%= button_to t('helpers.button.show'), admin_test_path(test), method: :get, params: { lang: params[:lang] }, class: 'btn btn-primary w-100' %>
        <%= button_to t('helpers.button.edit'), edit_admin_test_path(test), method: :get, params: { lang: params[:lang] }, class: 'btn btn-primary w-100'  %>
        <%= button_to t('helpers.button.delete'), admin_test_path(test), method: :delete, data: {  turbo_confirm: t('helpers.data.are_you_sure') }, class: 'btn btn-primary w-100' %>
        </div>
    </div>
  </div>
</div>
