<h1 class="text-center my-4">
  <%= t('.header') %>
</h1>

<p class="sort-by-title pointer">
  <%= t('.sort_by_title') %>
  <%= octicon 'arrow-up', class: 'text-success hide' %>
  <%= octicon 'arrow-down', class: 'text-success hide' %>
</p>

<p class="text-start my-4">
  <%= link_to t('helpers.link.new_test'), new_admin_test_path(@test), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
</p>


<div class="container-rows">
    <%= render(@tests) || content_tag(:div, t('.no_tests'), class: 'col text-center') %>
</div>
