<h1><%= t('.header', title: @test.title) %></h1>

<p><%= link_to t('helpers.link.new_question'), new_admin_test_question_path(@test) %></p>

<table> 
  <% if @test.questions.count != 0 %>
    <tr>
      <th><%= t('.questions') %></th>
      <th><%= t('.answers') %></th>
      <th colspan='3'><%= t('.action') %></th>
    </tr>
  <% end %>
  
  <%= render(@test.questions) || t('.no_questions') %>
  
</table>

<br><%= link_to t('helpers.link.back'), admin_tests_path %>
