<h1><%= t('.header') %></h1>

<table>
  <% if @tests.count != 0 %>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.author') %></th>
      <th><%= t('.num_of_questions') %></th>

      <th><%= t('.action') %></th>
    </tr>
   <% end %>
  
  <%= render(@tests) || t('.no_tests') %>

</table>
