<% unless current_user.is_a?(Admin) %>
  <% if user_signed_in? %>
    <nav><%= link_to 'Logout', destroy_user_session_path,  data: { turbo_method: :delete,  turbo_confirm: "Are you sure?" }%></nav>

    <p class="nav user">
      Welcome, <b><%= current_user.email %></b> <%= link_to 'Guru!', root_path %>
    </p>    
    
  <% elsif !current_page?('/login') && !current_page?('/signup') %>  
    <br><nav>
      <ul>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      </ul>
    </nav>
  <% end %>
<% end %>
